@model IEnumerable<RestoranASP.Models.Narudzbina>
@{
    ViewData["Title"] = "Narudzbine";
}
<h2 class="text-center mb-3">Narudžbine</h2>
<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success">Dodaj novu narudžbinu</a>
</div>
<table id="narudzbineTabela" class="table table-bordered table-striped table-warning">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Broj jela</th>
            <th>Opcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var narudzbina in Model)
        {
            <tr>
                <td>@narudzbina.Datum</td>
                <td>@narudzbina.Jela.Count</td>
                <td>
                
                    <a asp-action="Edit" asp-route-id="@narudzbina.Id" class="btn btn-warning">Izmeni</a>
                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" value="@narudzbina.Id" name="id" />
                        <button type="submit" class="btn btn-danger">Obriši</button>
                    </form>
                    
                    <a asp-action="Details" asp-route-id="@narudzbina.Id" class="btn btn-primary">Detaljnije</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#narudzbineTabela').DataTable({
                "language": {
                    "search": "Pretraga:",
                    "lengthMenu": "Prikaži _MENU_ zapisa",
                    "zeroRecords": "Nema pronađenih rezultata",
                    "info": "Prikazano _START_ do _END_ od _TOTAL_ zapisa",
                    "infoEmpty": "Nema zapisa",
                    "paginate": {
                        "first": "Prva",
                        "last": "Poslednja",
                        "next": "Sledeća",
                        "previous": "Prethodna"
                    }
                }
            });
        });
    </script>
}
