@model IEnumerable<RestoranASP.Models.Kategorija>
@{
	ViewData["Title"] = "Sve kategorije";
}
<h2 class="text-center mb-3">Sve kategorije</h2>
@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-end mb-3">
        <a asp-action="Create" class="btn btn-success">Dodaj novu kategoriju</a>
    </div>
}

<table id="kategorijeTabela" class="table table-bordered table-striped table-warning">
    <thead>
        <tr>
            <th>Kategorija</th>
            <th>Broj jela</th>
            <th>Opcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kategorija in Model)
        {
            <tr>
                <td>@kategorija.Naziv</td>
                <td>@kategorija.Jela.Count</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@kategorija.Id" class="btn btn-warning">Izmeni</a>
                        <form asp-action="Delete" method="post" class="d-inline">
                            <input type="hidden" value="@kategorija.Id" name="id" />
                            <button type="submit" class="btn btn-danger">Obriši</button>
                        </form>
                    }
                    <a asp-action="Details" asp-route-id="@kategorija.Id" class="btn btn-primary">Detaljnije</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#kategorijeTabela').DataTable({
                "language": {
                    "search": "Pretraga:",
                    "lengthMenu": "Prikaži _MENU_ zapisa",
                    "zeroRecords": "Nema pronađenih rezultata",
                    "info": "Prikazano _START_ do _END_ od _TOTAL_ zapisa",
                    "infoEmpty": "Nema zapisa",
                    "paginate": {
                        "first": "Prva",
                        "last": "Poslednja",
                        "next": "Sledeća",
                        "previous": "Prethodna"
                    }
                }
            });
        });
    </script>
}
